<!-- learning-package-create.component.html -->

<div class="container mt-4">
  <h1>Create Learning Package</h1>
  <form [formGroup]="learningPackageForm">
    <!-- Learning Package Form -->
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" class="form-control" />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="description">Category:</label>
      <textarea id="category" formControlName="category" class="form-control"></textarea>
    </div>
  </form>

  <!-- Learning Fact Forms -->
  <div *ngFor="let learningFactForm of learningFactsFormArray; let i = index">
    <h2>Learning Fact {{ i + 1 }}</h2>
    <form [formGroup]="learningFactForm">
      <div class="form-group">
        <label for="factTitle">Title:</label>
        <input type="text" id="factTitle" formControlName="title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="question">Question:</label>
        <textarea id="question" formControlName="question" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="answer">Answer:</label>
        <textarea id="answer" formControlName="answer" class="form-control"></textarea>
      </div>
      <button type="button" (click)="removeLearningFactForm(i)" class="btn btn-danger">Remove Learning Fact</button>
    </form>
  </div>

  <!-- Add Learning Fact Button -->
  <button type="button" (click)="addLearningFactForm()" class="btn btn-secondary">Add Learning Fact</button>

  <button type="button" (click)="createLearningPackage()" class="btn btn-primary">Submit</button>

</div>
