<!-- learning-package-page.component.html -->

<div class="container mt-4">
  <div class="row">
    <!-- Display learningPackage on the left -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ learningPackage?.title }}</h3>
          <p class="card-text">{{ learningPackage?.description }}</p>
          <!-- Add other properties as needed -->
        </div>
      </div>
    </div>

    <!-- Display the first learningFact on a new line -->
    <ng-container *ngIf="!showEndMessage">
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ learningFacts[currentFactIndex]?.title }}</h5>
            <p class="card-text">{{ learningFacts[currentFactIndex]?.question }}</p>

            <!-- Conditionally display the answer and feedback options -->
            <ng-container *ngIf="showAnswerFlag">
              <p class="card-text">{{ learningFacts[currentFactIndex]?.answer }}</p>

              <!-- Conditionally display the feedback options -->
              <ng-container *ngIf="showAnswerFlag&&learningFacts[currentFactIndex].confidenceLevel<2">
                <p>How have you found this question?</p>
                <button class="btn btn-success" (click)="provideFeedback('Easy')">Easy</button>
                <button class="btn btn-warning" (click)="provideFeedback('Correct')">Correct</button>
                <button class="btn btn-danger" (click)="provideFeedback('To review')">To review</button>
              </ng-container>
              <ng-container *ngIf="showAnswerFlag&&learningFacts[currentFactIndex].confidenceLevel==2">
                <p>How have you found this question?</p>
                <button class="btn btn-success" (click)="provideFeedback('Easy')">Easy</button>
                <button class="btn btn-warning" (click)="provideFeedback('Correct')">Correct</button>
                <button class="btn btn-danger" (click)="provideFeedback('Difficult')">Difficult</button>
                <button class="btn btn-dark" (click)="provideFeedback('To review')">To review</button>
              </ng-container>
            </ng-container>

            <!-- Button to show the answer -->
            <button *ngIf="!showAnswerFlag" class="btn btn-primary" (click)="showAnswer()">Show the Answer</button>

            <!-- Add other properties as needed -->
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="showEndMessage">
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-body">
            <p>You have successfully finished this package!</p>
            <button class="btn btn-primary" (click)="goBackToStudyPage()">Go back to study Page</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
